* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body {
  height: 100%;
}

html {
  font-family: Arial, Helvetica, sans-serif;
 font-size: 10px;
}

body {
  display: grid;
  place-items: center center;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}